<div class="box box-success box-solid">
  <div class="box-header with-border">
    <H3>Version Selector</H3>
    <div class="box-tools">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
  </div>
  <div class="box-body">
    <div class="form-group">
      <div class="input-group date">
          <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
          </div>
          <input type="text" class="form-control pull-right" data-use="version_selector">
      </div>
    </div>
      <ul class="nav nav-pills nav-stacked" style="text-align:center" data-use="version_display">
        <li>NO VERSION FETCHED</li>
      </ul>
  </div>
  <div class="box-footer">
    * All dates and times are in UTC+0 timezone
  </div>
</div>
