{% extends "layout.html.twig" %}

{% block css %}
<link rel="stylesheet" href="/css/select2.min.css" />
<link rel="stylesheet" href="/css/font-awesome-animation.min.css" />
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
    <div class="box">
      <div class="box-body">
        <div class="class=col-xs-12" >
            <select id="version_select" class="select2" name="version">
                  <option selected="selected" value="AL">Capone</option>
                  <option value="Chuck">Norris</option>
            </select>
        </div>
        <div class="class=col-xs-12" >
          <div id="graph_display" style="width: 100%;height: 800px; display: block;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-cs-12 col-sm-3 col-md-2 col-lg-2">
    <div id="#nodeInfo" class="box box-success box-solid">
      <div class="box-header">
        <h4 data-node="false">Information</h4>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div id="no_selected" class="row" style="text-align:center">
            <p><i class="fa fa-hand-o-left faa-horizontal animated fa-3x"></i></p>
            <p><span class="text-lead">Select a node or a link in order to display information about it.</span></p>
        </div>
        <div id="nodes" class="row"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}

<script src="/js/select2.min.js"></script>
<script src="/js/cytoscape.js"></script>
<script>
  $(document).ready(function(){
    $("#version_select").select2();
      loadGraphData(renderGraph);
  });

  /**
  * Loads the graph data via ajax
  */
  var loadGraphData=function(callback){
    $.get('/flow-map/graph').done(function(data){
      $("#nodes").children().remove();
      callback(data);
    }).fail(function(jxqr){
      errorMessageNotification('Could not fetch the graph data please try again later');
    }).always(function(){
      console.log("Ajax finished");
    });
  }

  var renderGraph=function(data) {
    var config = {
      container: document.getElementById('graph_display'),
      elements:{
        nodes:[],
        edges:[]
      },
      layout: {
        name: 'breadthfirst',
        padding: 100
      },
      ready: function(){
        window.cy = this;
      }
    }

    config.style=cytoscape.stylesheet()
      .selector('node')
      .css({
        'background-color':'data(color)',
        'width': '200px',
        'shape':'data(favshape)',
        'text-valign': 'center',
        'content':'data(name)',
        'text-valign': 'center',
        'color':'#181A1F',
        'text-outline-color': '#181A1F',
      }).selector('edge')
      .css({
        'line-color': '#000000',
        'content':'data(type)'
      });

    data.nodes.forEach(function(item,index){
      var appendItem={
        id:item.id,
        type: item.type,
        properties:item.properties
      };

      //Defining the name and display properties
      if(item.properties.name){
        appendItem.name=item.properties.name;
      }
      switch(item.type){
        case 'DATA_ASSET':
          appendItem.color="#8355a3";
          appendItem.favshape="rectangle";
          appendItem.name=item.properties.asset_name;
          break;
        case 'DATA_CONSUMER':
          appendItem.name=item.properties.usedBy;
          appendItem.color="#BE9791";
          appendItem.favshape="rectangle";
          break;
        case 'PROSESED':
          appendItem.favshape="hexagon";
          appendItem.name=item.properties.type;
          if(item.properties.type.toLower==='transmission'){
            appendItem.color="#0a581b";
          } else {
            appendItem.color="#50BB7C";
          }
          break;
        case 'SERVER_OR_SERVICE':
          appendItem.favshape="barrel";
          appendItem.color="#990000";
          break;
        default:
          appendItem.favshape="ellipse";
          appendItem.color="#F1F1F1"
      }
      config.elements.nodes.push({data:appendItem});
    })

    data.edges.forEach(function(item,index){
      var dataItem=item;
      dataItem.id=100*item.id;//Ensuring that the esges will have a unique id
      config.elements.edges.push({data:dataItem});
    });

    var cy=cytoscape(config);

    cy.on('tap','node',function(event){
      var evtTarget = event.target;

      if( evtTarget === cy ){
        console.log('tap on background');
      } else {
        console.log('tap on some element');
        console.log(evtTarget._private.data.properties);
      }
    })
  }
</script>
{% endblock %}
