{% extends "layout.html.twig" %}

{% block css %}
<link rel="stylesheet" href="/css/select2.min.css" />
<link rel="stylesheet" href="/css/font-awesome-animation.min.css" />
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
    <div class="box">
      <div class="box-body">
        <div class="class=col-xs-12">
            <select id="version_select" class="select2" name="version">
                  <option selected="selected" value="AL">Capone</option>
                  <option value="Chuck">Norris</option>
            </select>
        </div>
        <div class="class=col-xs-12">
          <div id="graph_display" style="width: 500px;height: 500px; display: block;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-cs-12 col-sm-3 col-md-3 col-lg-3">
    <div id="#nodeInfo" class="box box-success box-solid">
      <div class="box-header">
        <h3 data-node="false">Information</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div id="no_selected" class="row" style="text-align:center">
            <p><i class="fa fa-hand-o-left faa-horizontal animated fa-3x"></i></p>
            <p><span class="text-lead">Select a node or a link in order to display information about it.</span></p>
        </div>
        <div id="nodes" class="row"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}

<script src="/js/select2.min.js"></script>
<script src="/js/cytoscape.js"></script>
<script>
  $(document).ready(function(){
    $("#version_select").select2();
      loadGraphData(renderGraph);
  });

  /**
  * Loads the graph data via ajax
  */
  var loadGraphData=function(callback){
    $.get('/flow-map/graph').done(function(data){
      $("#nodes").children().remove();
      callback(data);
    }).fail(function(jxqr){
      errorMessageNotification('Could not fetch the graph data please try again later');
    }).always(function(){
      console.log("Ajax finished");
    });
  }

  var renderGraph=function(data) {
    var config = {
      container: document.getElementById('graph_display'),
      elements:{
        nodes:[],
        edges:[]
      },
      layout: {
        name: 'cose',
      },
      ready: function(){
        window.cy = this;
      }
    }

    config.style=cytoscape.stylesheet()
      .selector('node')
      .css({
        'background-color':'data(color)',
        'shape':'data(favshape)',
        'text-valign': 'center',
        'content':'data(name)',
      })

    data.nodes.forEach(function(item,index){
      var appendItem={
        id:item.id,
        type: item.type,
        properties:item.properties
      };

      //Defining the name and display properties
      if(item.properties.name){
        item.name=item.properties.name;
      }

      switch(item.type){
        case 'DATA_ASSET':
          appendItem.color="#8355a3";
          appendItem.favshape="rectangle";
          item.name=item.properties.asset_name;
          break;
        case 'DATA_CONSUMER':
          appendItem.color="#BE9791";
          appendItem.favshape="rectangle";
          break;
        case 'PROSESED':
          appendItem.favshape="hexagon";
          item.name=item.properties.type;
          if(item.properties.type.toLower==='transmission'){
            appendItem.color="#0a581b";
          } else {
            appendItem.color="#50BB7C";
          }
          break;
        case 'SERVER_OR_SERVICE':
          appendItem.favshape="barrel";
          appendItem.color="#990000";
          break;
        default:
          appendItem.favshape="ellipse";
          appendItem.color="#F1F1F1"
      }
      config.elements.nodes.push({data:appendItem});
    })

    data.edges.forEach(function(item,index){
      var dataItem=item;
      dataItem.id=index;
      config.elements.edges.push({data:dataItem});
    });

    cytoscape(config);
  }
</script>
{% endblock %}
