<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> {{ title }} </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/skin-purple.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <style>
    a.nostyle:link {
      text-decoration: inherit;
      color: inherit;
      cursor: auto;
    }

    a.nostyle:visited {
      text-decoration: inherit;
      color: inherit;
      cursor: auto;
    }
  </style>
</head>
<body class="hold-transition skin-purple sidebar-mini">
  <div class="wrapper">
    <header class="main-header">
      <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">F-D</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">Flow-D</span>
      </a>
      <nav class="navbar navbar-static-top" >
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <ul class="sidebar-menu tree" data-widget="tree">
          <li class="header">Operations</li>
          <li>
            <a href="/data_assets">
              <i class="fa fa-table" aria-hidden="true"></i>
              <span>Data Asset Entry</span>
            </a>
          </li>
          <li>
            <a href="/flow-map">
              <i class="fa fa-map-signs" aria-hidden="true"></i>
              <span>Graph Generation</span>
            </a>
          </li>
        </ul>
      </section>
    </aside>
    <div class="content-wrapper">
      <section class="content-header"><h1>{{ title }}</h1></section>
      <section class="content">
          {% block content %}{% endblock %}
      </section>
    </div>
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/adminlte.min.js"></script>
</body>
</html>
