{% extends "layout.html.twig" %}

{% block content %}
  <div class="row">
    <div class="col-xs-6">
      <div class="box box-solid">
        <div class="box-body" style="text-align:center">
          <a href="#" class="nostyle">
            <i class="fa fa-table" style="font-size: 10em;" aria-hidden="true"></i>
            <h4>Upload an excell with existing entries</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="box box-solid text-center">
        <div class="box-body" style="text-align:center">
          <a href="#" class="nostyle">
            <i class="fa fa-map-signs" style="font-size: 10em;" aria-hidden="true"></i>
            <h4>Display data flow map</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
