3{% extends "layout.html.twig" %}

{% block css %}
<link rel="stylesheet" href="/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="/css/select2.min.css" />
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="box">
      <div class="box-header">
        <div class="row">
          <div class="col-xs-3"><button class="btn btn-primary" role="button" id="trigger_upload"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload an Excell File</button></div>
          <div class="col-xs-6">
            <select id="version_select" class="select2" style="width: 100%; height:100%" name="version">
                  <option selected="selected" value="AL">Capone</option>
                  <option value="Chuck">Norris</option>
            </select>
          </div>
        </div>
      </div>
      <div class="box-body">
        <table id="infotable" class="table display nowrap dataTable" width="100%">
          <thead>
            <tr>
              <th class="sorting" >Description</th>
              <th class="sorting" >Category </th>
              <th class="sorting" >Classification</th>
              <th class="sorting" >Source</th>
              <th class="sorting" >Collected By</th>
              <th class="sorting" >Collection Method</th>
              <th class="sorting" >Format</th>
              <th class="sorting" >Used By</th>
              <th class="sorting" >Collection Purpose</th>
              <th class="sorting" >Transfer to</th>
              <th class="sorting" >Security Classification</th>
              <th class="sorting" >Transfer Control</th>
              <th class="sorting" >Repository Format</th>
              <th class="sorting" >Retention Site</th>
              <th class="sorting" >Disclosed To</th>
              <th class="sorting" >Retention Policy</th>
              <th class="sorting" >Deletion Policy</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<form id="#upload_form" style="display:none" >
  <input id="excell_upload" type="file" style="visible:hidden" name="data_assets"/>
</form>
{% endblock %}

{% block javascripts %}
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>
<script src="/js/select2.min.js"></script>
<script>
  $(document).ready(function(){

    /*Table Initialization*/
    $("#infotable").DataTable({
        "paging": true,
        'searching': false,
        'fixedHeader': true,
        'scrollY': 300,
        'scroller': true,
        "autoWidth": true
    });

    // Firing the file upload
    $("#trigger_upload").on('click',function(e){
      e.preventDefault();
      $("#excell_upload").click();
    });

    // Select2 Intialization
    $("#version_select").select2();
  })
</script>
{% endblock %}
