{% extends "layout.html.twig" %}

{% block css %}
<link rel="stylesheet" href="/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="/css/select2.min.css" />
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="box">
      <div class="box-header">
        <div class="row">
          <div class="col-sm-6 col-xs-12 hidden-print">
            <div class="btn-group hidden-xs" role="group" aria-label="Download and upload buttons">
              <a class="btn btn-flat bg-olive" href="/data/template.xlsx">
                <i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download the Excell Template
              </a>
              <button class="btn btn-primary btn-flat" role="button" id="trigger_upload">
                <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload the Excell File
              </button>
            </div>
            <div class="visible-xs">
              <a class="btn btn-flat btn-block bg-olive" href="/data/template.xlsx">
                <i class="fa fa-download" aria-hidden="true"></i>Download the Excell Template
              </a>
              <button class="btn btn-primary btn-block btn-flat" role="button" id="trigger_upload">
                <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload an Excell File
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="box-body">
        <table id="infotable" class="table display nowrap dataTable" width="100%">
          <thead>
            <tr>
              <th class="sorting" >Description</th>
              <th class="sorting" >Category </th>
              <th class="sorting" >Classification</th>
              <th class="sorting" >Source</th>
              <th class="sorting" >Collected By</th>
              <th class="sorting" >Collection Method</th>
              <th class="sorting" >Format</th>
              <th class="sorting" >Used By</th>
              <th class="sorting" >Collection Purpose</th>
              <th class="sorting" >Transfer to</th>
              <th class="sorting" >Security Classification</th>
              <th class="sorting" >Transfer Control</th>
              <th class="sorting" >Repository Format</th>
              <th class="sorting" >Retention Site</th>
              <th class="sorting" >Disclosed To</th>
              <th class="sorting" >Retention Policy</th>
              <th class="sorting" >Deletion Policy</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>
<script>
  $(document).ready(function(){

    /*Table Initialization*/
    $("#infotable").DataTable({
        "paging": true,
        'searching': false,
        'fixedHeader': true,
        'scrollY': 300,
        'scroller': true,
        "autoWidth": true
    });

    // Firing the file upload
    var uploading=false;
    $("#trigger_upload").on('click',function(e){
      e.preventDefault();
      if(!uploading){
        $("#excell_upload").click();
      }
    });

    // Trigger upload

  })
</script>
{% endblock %}
