{% extends "layout.html.twig" %}

{% block css %}
<style>
#infotable {
  display: block;
  width: 100%;
  height: 500px;
  overflow:auto;
}
</style>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-print">
    {% include 'widgets/version_selector.html.twig' %}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-print">
    <div class="box box-success box-solid">
      <div class="box-header">
        <h3>Upload an excell as new version</h3>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="btn-group btn-group-vertical" style="width:100%" role="group" aria-label="Download and upload buttons">
          <a class="btn btn-flat bg-olive" href="/data/template.xlsx">
            <i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download the Excell Template
          </a>
          <button class="btn btn-primary btn-flat" role="button" id="trigger_upload">
            <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload the Excell File
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="box">
      <div class="box-body">
        <table id="infotable" class="table display nowrap">
          <thead>
            <tr>
              <th>Tag ID</th>
              <th>Data Asset </th>
              <th>Description</th>
              <th>Personal Info Category</th>
              <th>PII Classification</th>
              <th>Source</th>
              <th>Collected By</th>
              <th>Collection Method</th>
              <th>Accessing Person</th>
              <th>Used By</th>
              <th>Collection Purpose</th>
              <th>Type of Processing</th>
              <th>Data Transfer Mechanism</th>
              <th>Security Classification</th>
              <th>Data Transfer Security Control</th>
              <th>Service stored or Transmitted</th>
              <th>Retention Policy</th>
              <th>Deletion Policy</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
  $(document).ready(function(){
    versionSearchByDate(function(version){
      // loadGraphData(version,renderGraph)
      console.log("Version selected", version)
    });


    // Firing the file upload
    var uploading=false;
    $("#trigger_upload").on('click',function(e){
      e.preventDefault();
      if(!uploading){
        $("#excell_upload").click();
      }
    });

    var fetchData=function(){

    }
  })
</script>
{% endblock %}
