{% extends "layout.html.twig" %}

{% block css %}
<link rel="stylesheet" src="/css/jquery.dataTables.min.css"/>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="box box-primary">
        <div class="box box-header"><h4>Upload assets in excell form</h4></div>
          <form id="#upload_form" >
            <div class="box-body">
                <input type="file" name="data_assets"/>
            </div>
          </form>
      </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-6">
    <div class="box box-primary">
      <div class="box box-header"><h4>Uploaded Versions</h4></div>
      <div class="box-body">
        <div class="input-group input-group-sm">
          <input id="#search" type="text" placeholder="Search for version" class="form-control">
          <span class="input-group-btn">
            <button type="button" class="btn btn-info btn-flat"><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="box">
      <div class="box-body">
        <table id="infotable" class="table display nowrap dataTable" width="100%">
          <thead>
            <tr>
              <th class="sorting" >Description</th>
              <th class="sorting" >Category </th>
              <th class="sorting" >Classification</th>
              <th class="sorting" >Source</th>
              <th class="sorting" >Collected By</th>
              <th class="sorting" >Collection Method</th>
              <th class="sorting" >Format</th>
              <th class="sorting" >Used By</th>
              <th class="sorting" >Collection Purpose</th>
              <th class="sorting" >Transfer to</th>
              <th class="sorting" >Security Classification</th>
              <th class="sorting" >Transfer Control</th>
              <th class="sorting" >Repository Format</th>
              <th class="sorting" >Retention Site</th>
              <th class="sorting" >Disclosed To</th>
              <th class="sorting" >Retention Policy</th>
              <th class="sorting" >Deletion Policy</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <tr>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $("#infotable").DataTable({
        "paging": true,
        'searching': false,
        'fixedHeader': true,
        'scrollY': 300,
        'scroller': true,
        "autoWidth": true
    });
  })
</script>
{% endblock %}
